body {
	font-family: helvetica;
	margin: 0;
	padding: 0;
	height: 100%;
}
#container {
	min-height: 100%;
	position: relative;
}
#header {
	padding: 10px;
}
#body {
	padding: 10px;
	padding-bottom: 50px;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #BBB;
}
a {
	color: black;
	text-decoration: none;
}

li {
	display: inline;
	padding: 20px;
}

nav {
	float: right;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;

}


}
.footerLeft {
	float: left;
	
}
.footerRight {
	float: right;
}